#app-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
#app-header {
  grid-column: 1 / 13;
  margin-top: 0.3em;
  text-align: center;
  font-size: 3rem;
  grid-row: 1 / 2;
}
#search-bar {
  grid-column: 1 / 13;
  text-align: center;
}
#movie-list-container {
  grid-column: 2 / 12;
}
#movie-list {
  grid-column: 1 / 12;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  list-style: none;
}

#movie-list-item-card {
  flex: 0 0 auto;
  margin: 0.5%;
  width: 16em;
  height: 31em;
  background-color: #000000c2;
  border-radius: 25px;
}

#movie-list-item-details {
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
  color: #dcdcdc;
  padding: 10px;
}

#movie-list-item-card img {
  width: 100%;
  height: auto;
  border-radius: 25px 25px 0px 0px;
}

#movie-detail-wrapper {
  grid-column: 2 / 12;
}
#movie-detail-container {
  background-color: #000000b4;
  display: flex;
  justify-content: space-around;
  height: 45em;
}

#img-overlay {
  height: 45em;
  width: 46%;
  background-color: rgba(20, 20, 20, 0.8);
  position: absolute;
  z-index: -1;
}

#movie-detail-poster {
  width: 50%;
  text-align: center;
}
#movie-detail-poster img {
  width: auto;
  height: 100%;
}
#movie-detail-right-panel {
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 1em 10em 1em 3em;
}
#movie-title {
  color: #ffffff;
  font-size: 2em;
  /* margin: 0.67em; */
}
#movie-overview {
  color: #ffffff;
  font-size: 1em;
  font-weight: 400;
  padding: 0 0 0 0;
  /* margin: 0.67em; */
}
#movie-data {
  color: #ffffff;
  font-size: 1em;
  font-weight: 400;
  padding: 0 0 0 0;
  /* margin: 0.67em; */
}

.close-x {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2147483647;
  text-align: center;
  vertical-align: middle;
}

.close-x:hover {
  text-decoration: none;
}

.close-circle {
  top: 7.25em;
  right: 12.25em;
  padding: 0;
  color: #999;
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  -webkit-transition: background 0.75s ease;
  -moz-transition: background 0.75s ease;
  transition: background 0.75s ease;
}

.close-circle::before {
  content: "x";
  font-size: 30px;
  font-weight: 500;
}
